@import url("https://fonts.googleapis.com/css?family=Poppins:400,500, 700");

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  background-color: #fafafa;
  font-family: Poppins, sans-serif;
  font-size: 1.2rem;
  /* min-height: 100vh; */
  width: 100%;
  height: 100%;
  background-color: 1D1D1F;

}

.full-height-grow {
  display: flex;
  flex-direction: column;
  flex-flow: column;
  /* flex-direction: row; */
}

.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 100px;
}

.brand-logo {
  display: flex;
}

.main-nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.main-nav a {
  color: inherit;
  padding: 1rem;
  text-decoration: none;
}

.main-nav a:hover {
  color: black;
  text-decoration: underline;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}



.big-text {
  font-family: 500;
  font-size: 3em;
  margin-bottom: 1rem;
  margin-top: 0;
  color: inherit;
  position: relative;
  left: 10%;
}
.small-text {
  font-weight: 500;
  font-size: 2em;
  margin-bottom: 0.5 rem;
  position: relative;
  left: 5em;  
  
}
.btn {
  color: white;
  background-color: #ee263d;
  opacity: 80%;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
  position: absolute;
  left: 28%;
}

.second-main-seciton {
  display: flex;
  position: relative;
}